@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
}


#container-message {
    background-color: #A9A9A9;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-message .content-form {
    background-color: #00FA9A;
    height: max(90%, 350px);
    min-height: 600px;
    width: max(45%, 180px);
    padding: 20px 20px 20px 30px;
    border-radius: 5px;

}

#container-message .content-form textarea {
    max-height: 150px;
}


#container-message .content-form h1 {
    font-size: max(30px, 2vw) !important;
    text-align: center;
    margin-bottom: 20px;
}

#container-message .content-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-message .content-confirm h1 {
    color: red;
    font-size: max(30px, 4vw) !important;
}

#container-message .content-confirm p {
    color: red;
    font-size: max(20px, 1vw) !important;
}

#success_message{ display: none;}

